<main class="container p-5">
  <article class="row d-flex flex-column justify-content-center">
    <h1 class="text-center">Geofy</h1>
    <p class="text-center">Best site ever with information about countries.</p>
    <form class="col-12 col-md-6 p-2 m-auto">
      <legend class="w-100 text-center">Let's search</legend>
      <fieldset>
        <div class="form-group pb-3">
          <select class="form-select" id="dataSellect">
            <option>Select a search methods...</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
        <div class="form-group pb-3">
          <input type="text" class="form-control" aria-describedby="countrySearcher" placeholder="Type the name of country...">
        </div>
        <div class="form-group pb-3 d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Go to Search</button>
        </div>
      </fieldset>
    </form>
  </article>
</main>